/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2014, 18:50:57
    Author     : Israel Araújo
*/
/*
retira as bordas de panelgrid
*/
.noBorder tr, .noBorder td {
    border: none !important;
    padding: 0px;
    background-color: transparent;
}
.right{
    position: absolute;
    right: 0;
}
.left{
    position: absolute;
    left: 0;
}
.full{
    top: 0;
    width: 100%;
}
.large{
    width: 100%
}
.ajustado{
    width: available
}

/*
estilo de menus login
*/
.input[type=text],
.input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .2), 0 0 0 2px #f5f7f8;
}

/*
botao de escolha de questao
*/
.questType{
    color: #555;
    display: inline-block;
    margin-right: 18px;    
    padding-top: 10px;
    padding-bottom: 10px;
    height: 68px;
    width: 136px;
}
.containerQuest {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 710px;
    margin-top: -90px;
    margin-left: -366px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border: none !important;
    padding: 0px;
}

acessibility-button{
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;    
}
/*
estilo de combo
*/
.comboBox{
    width: 290px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .2), 0 0 0 2px #f5f7f8;
}

.largeInput{
    color: #777;
    width: 100%;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .2), 0 0 0 2px #f5f7f8;
}
.page-body{
    background-color: #777;
}

.erro-label{
    font-size: 20px;
    color: red
}

.form-sender{
    background-color: #eee;
    margin-top: 25%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}