/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2014, 18:50:57
    Author     : Israel Araújo
*/
.noBorder tr, .noBorder td {
	border: none !important;
}

.left{
    position: absolute;
    left: 100%
}
.full{
    width: 100%
}