/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2014, 18:48:23
    Author     : Israel Araújo
*/

.footer{ 
    height: 300px;
    color: gray;
    text-align: center;
    background-color: #eee;
    position:absolute;
    bottom:0;
    width:100%;
    border-top: 1px solid darkgray;
}
.footer-righ{
    height: 90%;
    text-align: right;
    position: absolute;
    right: 5px;
}
.footer-bottom{
    height: 10%;    
}
.footer-left{
    height: 90%;
    text-align: left;
    position: absolute;
    left: 5px;
}
.page-body {
    margin: 0 auto;
}
