/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2014, 18:53:05
    Author     : Israel Araújo
*/

/*
AREA DE COMPONENTES PRIMEFACES NAO EXPLICITOS
*/
ul.ui-menu-child {
    white-space: nowrap;
    //min-width: 350px;
    width: 200px !important;
}
.full{
    width: auto;
    height:auto
}

/*
AREA PARA COMPONENTES EXPLICITOS COM CLASSES DA DOCUMENTACAO DO PRIMEFACES
*/