/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2014, 18:53:05
    Author     : Israel Araújo
*/

/*
AREA DE COMPONENTES PRIMEFACES NAO EXPLICITOS
*/
ul.ui-menu-child {
    white-space: nowrap;
    //min-width: 350px;
    width: 200px !important;
}
/*
AREA PARA COMPONENTES EXPLICITOS COM CLASSES DA DOCUMENTACAO DO PRIMEFACES
*/
.ui-layout-unit{
    border: none;
}
.ui-layout {
    border: none;
}
.ui-layout-doc {
    border: none;
}
.ui-layout-unit-content{
    border: none;
}
.ui-menuitem-text{
    text-align: center;
    border: none !important;
    padding-right: 6px;
}
.ui-menuitem-link:hover{
    background-color: #777! important;   
}